
body{
    background: #f6f5f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.btn{
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 0.5em;
    padding: 0.5em 1em;
    border-radius: 1em;
    box-shadow:  7px 7px 14px #858484,
             -7px -7px 14px #ffffff;
    transition: all 0.3s;
}
.btn:hover{
    transform: scale(1.01);
    box-shadow:  50px 50px 100px #858484,
             -50px -50px 100px #ffffff;
}
.delete, .red  {
    color: #d1d0cf;
    background: #ed333b;
}
.green{background-color: lightgreen;}
.delete{
    padding: 1em 2em;
    font-size: 30pt;
}
#toaster, #nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#nav{
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 1em;
}
.toast{
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 50px;
    text-align: center;
    box-shadow:  5px 5px 10px #858484,
                -5px -5px 10px #ffffff;
}
section, .col, .line{
    display: flex;
}
section{
    margin: 2em;
}
.col{
    flex-direction: column;
}
.col.r{
    align-items: end;
}
.sa{
    min-width: 30vw;
    justify-content: space-around;
}
.mt{
    margin-top: 1em;
}
label.col{
    text-align: center;
    align-items: center;
    margin: 1em;
}
.avatar{
    width: 100px;
}
#graph{
    width: 80vw;
    height: 100vh;
    border-radius: 50px;
    background: #f6f5f4;
    box-shadow: inset 5px 5px 10px #858484,
                inset -5px -5px 10px #ffffff;
}
.listegens{
    max-width: 100vw;
    overflow: scroll;
    align-items: end;
}